{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<div class="container-fluid text-center my-3">
    <h2>Bienvenido al Sistema de Gestión de Infraestructura y Actividades de Clínicas</h2>
    <br>
    <a class="btn btn-primary btn-lg btn-block" href="{% provider_login_url 'google' %}">
       Iniciar sesión
    </a>
    <div class="row my-5 justify-content-center">
        <img src="{% static 'img/logo.png' %}" alt="Logo de la Aplicación" style="width: 600px; height: auto; border-radius: 50px;" />
    </div>
</div>
{% endblock %}