{% extends 'base.html' %}
{% load static %}

{% block titulo %} Red ChileSalud {% endblock titulo %}

{% block content %}
<div class="container">
    <h1>Bienvenido a la gestión de Infraestructura y actividad Clínicas ChileSalud</h1>
    <nav>
        <ul>
            <li><a href="{% url 'infra_app:carga_actividad' %}">Cargar actividad</a></li>
            <li><a href="{% url 'infra_app:actividad_lista' %}">Visualizar actividad</a></li>
            <li><a href="{% url 'infra_app:actividad_lista_update' %}">Actualizar actividad</a></li>
            <li><a href="{% url 'infra_app:delete_actividad' %}">Borrar actividad</a></li>
            <li><a href="{% url 'infra_app:carga_servicios' %}">Cargar servicios</a></li>
            <li><a href="{% url 'infra_app:carga_unidades' %}">Cargar unidades</a></li>
            <li><a href="{% url 'infra_app:reporte_activos' %}">Reporte activos promedio por mes</a></li>
            <li><a href="{% url 'infra_app:reporte_productividad' %}">Reporte productividad</a></li>
        </ul>
    </nav>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/resonador.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gestión Infraestructura</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{% url 'infra_app:infra_lista' %}">Consultar Infraestructura</a></li>
          <li class="list-group-item"><a href="{% url 'infra_app:carga_infra' %}">Cargar Infraestructura</a></li>
          <li class="list-group-item"><a href="{% url 'infra_app:infra_list_update' %}">Actualizar Infraestructura</a></li>
          <li class="list-group-item"><a href="{% url 'infra_app:delete_infra' %}">Eliminar Infraestructura</a></li>
        </ul>
    </div>
</div>    
{% endblock content %}

