{% extends 'base.html' %}

{% block titulo %} Red ChileSalud {% endblock titulo %}

{% block content %}

    <h1>Bienvenido a la gestión de Infraestructura y actividad Clínicas ChileSalud</h1>
    <nav>
        <ul>
            <li><a href="{% url 'infra_app:carga_infra' %}">Cargar infraestructura</a></li>
            <li><a href="{% url 'infra_app:infra_lista' %}">Visualizar infraestructura</a></li>
            <li><a href="{% url 'infra_app:infra_list_update' %}">Actualizar infraestructura</a></li>
            <li><a href="{% url 'infra_app:delete_infra' %}">Borrar infraestructura</a></li>
            <li><a href="{% url 'infra_app:carga_actividad' %}">Cargar actividad</a></li>
            <li><a href="{% url 'infra_app:actividad_lista' %}">Visualizar actividad</a></li>
            <li><a href="{% url 'infra_app:actividad_lista_update' %}">Actualizar actividad</a></li>
            <li><a href="{% url 'infra_app:delete_actividad' %}">Borrar actividad</a></li>
            <li><a href="{% url 'infra_app:carga_servicios' %}">Cargar servicios</a></li>
            <li><a href="{% url 'infra_app:carga_unidades' %}">Cargar unidades</a></li>
            <li><a href="{% url 'infra_app:reporte_activos' %}">Reporte activos promedio por mes</a></li>
            <li><a href="{% url 'infra_app:reporte_productividad' %}">Reporte productividad</a></li>
        </ul>
    </nav>
{% endblock content %}

