{% extends 'base.html' %}
{% load static %}

{% block titulo %} Red ChileSalud {% endblock titulo %}

{% block content %}
<div class="container my-3 text-center">
    <div class="row">
        <h1>Gestión de Infraestructura y Actividades de Clínicas</h1>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/resonador.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Gestión Infraestructura</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'infra_app:infra_lista' %}">Consultar Infraestructura</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:carga_infra' %}">Cargar Infraestructura</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:infra_list_update' %}">Actualizar Infraestructura</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:delete_infra' %}">Eliminar Infraestructura</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/actividad.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Gestión Actividad</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'infra_app:actividad_lista' %}">Consultar Actividad</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:carga_actividad' %}">Cargar Actividad</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:actividad_lista_update' %}">Actualizar Actividad</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:delete_actividad' %}">Eliminar Actividad</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/logo.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Reportes</h5>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'infra_app:reporte_activos' %}">Reporte Activos</a></li>
                <li class="list-group-item"><a href="{% url 'infra_app:reporte_productividad' %}">Reporte Productividad</a></li>
                </ul>
            </div>
        </div>          
    </div>
</div>    
{% endblock content %}

