{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block titulo %} Actividad {% endblock titulo %}

{% block content %} 
<div class="container">
    <h1 class="text-center">Actividad mensual por unidad</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center align-middle">
            <thead class="sticky-header">
                <tr>
                    <th>Ejercicio</th>
                    <th>Mes</th>
                    <th>Servicio</th>
                    <th>Unidad</th>
                    <!-- accede al primer elemento de la lista de diccionarios y recorre las columnas que sean FILIALES -->
                    <!-- ignora columnas que no corresponda a filiales, teniendo eso recorre filiales para ponerlas como columnas del reporte -->
                    {% for filial in actividad_lista.0 %}
                        {% if filial not in "id_unidad__id_servicio__nombre_servicio id_unidad__nombre_unidad ejercicio mes" %}
                            <th>{{ filial }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in actividad_lista %}
                    <tr>
                        <td>{{ i.ejercicio }}</td>
                        <td>{{ i.mes }}</td>
                        <td>{{ i.id_unidad__id_servicio__nombre_servicio }}</td>
                        <td>{{ i.id_unidad__nombre_unidad }}</td>
                        <!-- accede a la combinación clave valor del diccionario e ignora lo que no corresponda a filiales y obtiene la actividad -->
                        {% for filial, cantidad in i.items %}
                            {% if filial not in "id_unidad__id_servicio__nombre_servicio id_unidad__nombre_unidad ejercicio mes" %}
                                <td>
                                    {% if cantidad != '-' %}                              
                                        {{ cantidad|floatformat:0|intcomma }}
                                    {% else %}
                                        {{ cantidad }}   
                                    {% endif %}    
                                </td>
                            {% endif %}
                        {% endfor %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>    
{% endblock content %}
