{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block titulo %} Actualizar Actividad {% endblock titulo %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Actualizar Actividad</h1>
            <form method="get" class="col-md-12">{% csrf_token %}
                <div class="form-row d-flex align-items-center justify-content-center">
                    <div class="form-group mx-1">
                        {{ form.filial|as_crispy_field }}
                    </div>
                    <div class="form-group mx-1">
                        {{ form.ejercicio|as_crispy_field }}

                    </div>
                    <div class="form-group mx-1">
                        {{ form.unidad|as_crispy_field }}
                    </div>
                    <div class="form-group mx-1" style="margin-bottom: -0.9rem;">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>       
            </form>

        {% if actividad_lista_update %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center align-middle">
                    <thead class="sticky-header">
                        <tr>
                            <th>Filial</th>
                            <th>Ejercicio</th>
                            <th>Mes</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in actividad_lista_update %}
                            <tr>
                                <td>{{ i.id_filial__nombre_filial }}</td>
                                <td>{{ i.ejercicio }}</td>
                                <td>{{ i.mes }}</td>
                                <td>{{ i.id_unidad__nombre_unidad }}</td>
                                <td>{{ i.cantidad|intcomma_custom }}</td>
                                <td>
                                    <a href="{% url 'infra_app:actividad_update' pk=i.id %}">Actualizar</a>                                                       
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>    
    
{% endblock content %}