{% extends 'base.html' %}
{% load  static %}

{% block titulo %} Actividad {% endblock titulo %}


<!-- upload_csv.html -->
{% block content %} 
    <h1>Carga de Actividad</h1>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subir</button>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </form>
    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function(event) {
            var fileInput = event.target;
            var filePath = fileInput.value;
            var allowedExtensions = /(\.csv)$/i;
            if (!allowedExtensions.exec(filePath)) {
                alert('Por favor, sube un archivo con extensión .csv');
                fileInput.value = '';
            }
        });
    </script>    
{% endblock content %}
