{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %} Actividad {% endblock titulo %}


{% block content %} 
<div class="container my-1">
  <h1 class="text-center">Eliminar Actividad</h1>
  <div class="row">
      <form method="post" class="col-md-12">{% csrf_token %}
        <div class="form-row d-flex align-items-center justify-content-center">
          <div class="form-group mx-1">
            {{ form.filial|as_crispy_field }}
          </div>
          <div class="form-group mx-1">
            {{ form.ejercicio|as_crispy_field }}
          </div>
          <div class="form-group mx-1">
            {{ form.mes|as_crispy_field }}
          </div>
        <button type="submit" class="btn btn-danger" style="margin-bottom: -0.9rem;">Eliminar</button>
      </div>  
      </form>
    {% if message %}
    <div class="d-flex justify-content-center">
      <p>{{ message }}</p>
    </div>
    {% endif %}
  </div>
</div>  
{% endblock content %}
  </div>