{% extends 'base.html' %}
{% load static %}

{% block titulo %} Actualizar Infraestructura {% endblock titulo %}

{% block content %}
    <h1 class="text-center">Actualizar Infraestructura</h1>
    <div class="grid-x">
        <form method="get" class="grid-x grid-margin-x">{% csrf_token %}
            <div class="cell large-2">
                {{ form.filial.label_tag }}
                {{ form.filial }}
            </div>
            <div class="cell large-2">
                {{ form.ejercicio.label_tag }}
                {{ form.ejercicio }}
            </div>
            <div class="cell large-2">
                {{ form.mes.label_tag }}
                {{ form.mes }}
            </div>
            <div class="cell large-2">
                {{ form.dia.label_tag }}
                {{ form.dia }}
            </div>
            <div class="cell large-2">
                {{ form.unidad.label_tag }}
                {{ form.unidad }}
            </div>
            <div class="cell large-2 align-self-bottom">
                <button type="submit" class="button">Buscar</button>
            </div>
        </form>
    </div>

    {% if infra_lista_update %}
    <div class="table-container-2">
        <table class="fixed-header">
            <thead>
                <tr>
                    <th>Filial</th>
                    <th>Ejercicio</th>
                    <th>Mes</th>
                    <th>Día</th>
                    <th>Hora</th>
                    <th>Unidad</th>
                    <th>Disponible</th>
                    <th>Habilitado</th>
                    <th>Instalado</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for i in infra_lista_update %}
                    <tr>
                        <td>{{ i.id_filial__nombre_filial }}</td>
                        <td>{{ i.ejercicio }}</td>
                        <td>{{ i.mes }}</td>
                        <td>{{ i.dia }}</td>
                        <td>{{ i.hora }}</td>
                        <td>{{ i.id_unidad__nombre_unidad }}</td>
                        <td>{{ i.disponible|floatformat:1 }}</td>
                        <td>{{ i.habilitado|floatformat:1 }}</td>
                        <td>{{ i.instalado|floatformat:1 }}</td>
                        <td>
                                <a href="{% url 'infra_app:infra_update' pk=i.id %}">Actualizar</a>                                                       
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock content %}