{% extends 'base.html' %}
{% load  static %}

{% block titulo %} Promedios diarios {% endblock titulo %}

{% block content %} 
    <h1>Promedios Diarios</h1>
    <table>
        <thead>
            <tr>
                <th>id_filial</th>
                <th>Ejercicio</th>
                <th>Mes</th>
                <th>id_unidad</th>
                <th>Activo Equivalente</th>
            </tr>
        </thead>
        <tbody>
            {% for promedio in sum_promedio_diario %}
            <tr>
                <td>{{ promedio.id_filial }}</td>
                <td>{{ promedio.ejercicio }}</td>
                <td>{{ promedio.mes }}</td>
                <td>{{ promedio.id_unidad }}</td>
                <td>{{ promedio.total_promedio_mensual|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}