.header {
    display: flex;
    align-items: center;
    background: #03acf5;
    padding: 0.5em 1em 0.5em 1em;

}.table-container {
    max-height: 90vh; /* Ajusta la altura máxima del contenedor de la tabla según tus necesidades */
    overflow-y: auto;
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.fixed-header thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #03acf5; /* Fondo blanco para los encabezados */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Añadir sombra para destacar los encabezados */
}

.fixed-header th, .fixed-header td {
    padding: 10px;
    text-align: center;
    vertical-align: middle; /* Asegura que el contenido esté centrado verticalmente */
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

/* Agrega un borde inferior para destacar los encabezados*/
.fixed-header th {
    border-bottom: 2px solid #ddd;
    color: #fff; /* Color de letra blanca para los encabezados */
} 

.fixed-header td {
    border-bottom: 1px solid #ddd; /* Borde inferior para las celdas */
}

.table-container table {
    width: auto; /* Permite que la tabla tenga un ancho basado en el contenido */
    border-collapse: collapse;
    table-layout: auto; /* Ajusta el tamaño de las columnas según el contenido */
}