.header {
    position: sticky;
    display: flex;
    align-items: center;
    background: #03acf5;
    padding: 0.5em 1em 0.5em 1em;

}
.table-responsive {
    height: 88vh; /* Ajusta la altura máxima del contenedor de la tabla según tus necesidades */
}

/* Clase para hacer que el encabezado de la tabla sea sticky */
.sticky-header {
  position: sticky;
  top: -1;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Añadir sombra para destacar los encabezados */
  background-color: #007bff; /* Azul Bootstrap */
  color: white; /* Texto blanco */
}

.sticky-header th {
  background-color: #03acf5; /* Azul Bootstrap */
  color: white; /* Texto blanco */
}






