<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-3">
            <a href="{% url 'infra_app:inicio' %}" style="font-size: 25px; color: white;">
                Red de Clínicas ChileSalud
            </a>
        </div>
        <div class="cell small-12 medium-4">
            
        </div>
        <div class="cell small-12 large-5">
            <ul class="menu" style="justify-content: flex-end;">
                <li>
                    <a class="success button">Acceder</a>
                </li> 
            </ul>
        </div>
    </div>
</header>